<%= render "shared/header"%>
<%= render "shared/side_bar_room" %>

<div class="main-content">

 <div class="room-title">
  <div class="room-name">
   <%= @room.name %>
  </div>
    <%= link_to "ルーム削除", room_path(@room.id), method: :delete, class:"room-delete-btn"%>
 </div>

  <div class="blog-content-show">
      <div class="follow-contents">
       <div class="message-text">
        <div class="upper-message">
          <% if @messages %>
           <% @messages.each do |message| %>
            <div class="message-user">
             <%# 投稿したユーザー情報を出力する %>
              <%= message.user.nickname %>
            </div>
             <div class="message-date">
              <%# 投稿した時間を出力する %>
              <%= message.created_at %>
             </div>
        </div>
         <div class="lower-message">
          <div class="message-content">
           <%# 投稿したメッセージ内容を記述する %>
           <%= message.message_text %>
          </div>
           <%= image_tag messages.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached?%>
           <% end %>
          <% end %>
         </div>
       </div>
       <div class="form-messages-content">
        <%= form_with model: [@room, @message], method: :post, local: true do |f| %>
         <%= f.text_field :message_text, placeholder: "メッセージを入力してください", class:"message-form"  %>
         <%= f.label :image, for: "file-input", class:"fa fa-camera-image.png", do%>
         <%= f.file_field :image, class:"hidden" %>
         <%= f.submit "送信", class:"message-btn" %>
        <% end %>
       </div>
      </div>
  </div>
</div>