<%# ブログ編集ページ %>
<div class="header">
  <%= render "shared/header" %>
</div>
<div class="side-bar">
  <%= render "shared/side_bar3" %>
</div>

    <%# 記事投稿フォーム作成 %>
 <div class="main-content">
  <div class="blog-head">
   <%= form_with model:@blog, local: true do |f| %>
     <%= render "shared/error_messages", model:@blog %>
    <div class="title-box"> 
     <div class="blog-title2">
      <%= f.label :title, "タイトル" %><br />
      <%= f.text_field :title, class:"title-area", id:"title", placeholder:"記事タイトル" %>
     </div>

     <%# 画像投稿フォーム %>
     <div class="img-upload">
       <div class="img-text">
        見出し画像
       </div>
      <%= f.file_field :image, id:"blog-image"%>
     </div>
    </div>
  </div>
  <%# アイコンの類（取り敢えず並べたい） %>
  <div class="blog-contents2">
     <%# 記事内容投稿フォーム %>
     <div class="blog-contribute">
      <%= f.label :text, "投稿内容作成" %><br />
     </div>
      <%= f.text_area :text, class:"blog-form", id:"text", placeholder:"記事内容"%>

     <div class="action-btns">
          <%= f.submit "投稿する", class:"contribute-btn"%>
      <%# 下書きは未実装 %>
       <%= f.submit "下書き保存", class:"contribute-btn2"%>
     </div>
   <% end %>
  </div>
</div>