<%# ブログ編集ページ %>
<%= render "shared/header" %>
 <%= render "shared/side_bar_edit" %>

    <%# 記事投稿フォーム作成 %>
   <%= render "shared/error_messages", model:@blog %>
 <div class="main-content">
  <div class="blog-head">
   <%= form_with model:@blog, url:blog_path, method: :put, local: true do |f| %>
    <div class="title-box"> 
     <div class="blog-title2">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class:"title-area", id:"title", placeholder:"記事タイトル" %>
     </div>
     <%# 画像投稿フォーム %>
     <div class="img-upload">
       <div class="img-text">
        見出し画像
       </div>
      <%= f.file_field :image, id:"blog-image"%>
     </div>
    </div>
  </div>

  <div class="blog-contents2">
     <%# 記事内容投稿フォーム %>
     <div class="blog-contribute">
       <div class="contribute-title">
        <%= f.label :body, "投稿内容作成" %>
       </div>
         <div class="tag-block">
           <%= f.text_field :tag_ids, value:@tag_list, class:"tag-form", placeholder:"タグをつける。複数つけるには','で区切ってください。"%>
         </div>
          <div class="action-btn">
           <%=f.select :status, Blog.statuses.keys.map { |k| [t("enums.blog.status.#{k}"),k]} %>
          </div>
           <div class="action-btn2">
            <%= f.submit "投稿", class:"contribute-btn"%>
           </div>
     </div>
      <%= f.rich_text_area :body, class:"blog-form", id:"text", placeholder:"記事内容"%>
   <% end %>
  </div>
</div>