<%# 詳細ブログ記事ページ %>
  <div class="head-index" style="background-image: url(<%= @blog.image %>);">
   <%# <div class="title-index"> %>
     <h1 class="title-index">
      <%= @blog.title %>
      </h1>
   <%# </div> %>
  </div>

  <div class="side-bar">
   <%= render "shared/side_bar2"%>
  </div>
<%= render "shared/error_messages", model: @comment%>

  <%# ページ内容 %>
<div class="main-content">
   <div class="blog-contents">
     <div class="blog-report">
      <%= @blog.text%>
     </div>
   </div>
</div>
