<%# 詳細ブログ記事ページ %>

<%# <タイトルヘッド部分> %>
 <%# if @blog.image.present? %>
  <%# <div class="head-index" style="background-image: url(<%= @blog.image );"> %>
  <div class="head-index" >
     <div class="title-index">
      <%= @blog.title %>
      </div>
  </div>
 <%# else %>
    <%# <div class="head-index" > %>
     <%# <h1 class="title-index"> %>
      <%# <%= @blog.title %> 
      <%# </h1> %>
   </div>
  <%# end %>

  <div class="side-bar">
   <%= render "shared/side_bar2"%>
  </div>
   <%= render "shared/error_messages", model: @comment%>

  <%# ページ内容 %>
<div class="main-content2">
  <div class="blog-contents-show">
      <%= @blog.body %>
   <% if user_signed_in? && @blog.user.id == current_user.id %>
    <%= render "shared/comment" %>
   <% elsif user_signed_in? %>
    <div class="blog-comment">
     コメント投稿 
    </div>
    <div class="comment-form">
     <%= form_with(model: [@blog, @comment], local: true) do |f| %>
      <%= f.text_area :text, placeholder: "コメントする", rows: "3" ,class:"comment-input"%>
       <%= f.submit "投稿する", class:"comment-btn" %>
     <% end %>
    </div>
      <%= render "shared/comment" %>
   <% else %>
      <%= render "shared/comment" %>
   <%end%>
  </div>
</div>

