<%# 新規登録画面 %>
<div class="main-content3">
 <div class="new-user-head">
  <h3>Simple-blogへようこそ!!</h3>
 </div>

 <div class="new-users">
  <div class="title2">
   <h2>-会員情報入力-</h2>
  </div>
  
  <div class="user-contents">
   <%= form_with model:@user, url: user_registration_path, class: 'registration', local: true do |f| %>
     <%= render "devise/shared/error_messages", resource: @user %>
    <div class="field">
      <%= f.label :nickname, "ニックネーム（最大文字数は10文字）" %>
       <span class="essential">必須</span><br />
      <%= f.text_field :nickname, class:"input-area", id: "nickname", placeholder:"例)ヤマダー" %>
    </div>

   <div class="field">
     <%= f.label :full_name, "名前" %>
       <span class="essential">必須</span><br />
     <%= f.text_field :full_name, class:"input-area", id: "full_name", placeholder:"例)山田太郎" %>
   </div>

   <div class="field">
     <%= f.label :full_name_kana, "名前カナ" %>
      <span class="essential">必須</span><br />
     <%= f.text_field :full_name_kana, class:"input-area", id: "full_name_kana", placeholder:"例)ヤマダタロウ" %>
   </div>

    <div class="field">
     <%= f.label :email, "メールアドレス" %>
       <span class="essential">必須</span><br />
     <%= f.email_field :email, class:"input-area", id: "email", placeholder:"@を含むメールアドレス" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
       <span class="essential">必須</span><br />
      <%= f.password_field :password, class:"input-area", id: "password", placeholder:"6文字以上の半角英数字" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワードの確認" %>
       <span class="essential">必須</span><br />
      <%= f.password_field :password_confirmation, class:"input-area", id: "password-confirmation", placeholder:"passwordを再入力" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録する", class:"registration-btn" %>
    </div>
   <% end %>

    <div class="actions">
     <%= link_to "戻る", root_path, class:"return-btn" %>
    </div>
  </div>
 </div>
</div>