<%# プロフィールを載せる %>
<%= render "shared/header"%>
 <%= render "shared/side_bar_profile" %>

<div class="title">
  <%= @user.nickname %>さんのプロフィール
</div>
 <div class="main-contents">
   <div class="blog-contents">
      <div class="profile2">
       ニックネーム
      </div>
        <div class="profile-field">
         <%= @user.nickname %>
        </div>
      <div class="profile">
       お名前
      </div>
       <div class="profile-field">
         <%= @user.full_name %>
       </div>
     <div class="profile">
      お名前（カナ）
     </div>
       <div class="profile-field">
        <%= @user.full_name_kana %>
       </div>
     <div class="profile">
      誕生日
     </div>
       <div class="profile-field">
        <%= @user.birth_date %>
       </div>
     <div class="profile">
     自己紹介
     </div>
      <div class="profile-field2">
       <%= @user.introduction %>
      </div>
   </div>
   <%# if user_signed_in? %>
  <h1>ユーザー一覧画面</h1>
  <%# @users.each do |user| %>
    <p>
      <%= "id: #{@user.id} email: #{@user.email}" %>
      <% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
      <% end %>
    </p>
  <%# end %>
<%# end %>
 </div>