<%# ブログの検索結果を表示する %>
<% @blogs.each do |blog| %>
    <%= link_to blog_path(blog.id) do %>
      <div class="blog-block">
        <% if blog.image.present? %>
         <%= image_tag blog.image, class: "blog-img" if blog.image.attached? %>
        <% else %>
         <%= image_tag "no-image.jpeg", class: "blog-img"%>
        <% end %>
         <div class="blog-info">
          <li class="list">
           <div class="blog-title">
            <%= blog.title %>
           </div>
             <% if blog.status == "draft" %>
              <div class="draft">
               未公開
              </div>
             <% end %>
              <div class="blog-user">
               投稿者:
                <%= blog.user.nickname %>
              </div>
               <div class="blog-time">
                投稿日:
                <%= blog.created_at %>
               </div>
                <div class="tag-list">
                 <% blog.tags.each do |tag|%>
                  #<%= link_to "#{tag.tag_name}"%>
                 <% end %>
                </div>
          </li>
         </div>
      </div>
    <% end %>
<% end %>