<div class="header">

<div class="header-left">
  <div class="title-block">
   <h3><span class="s">S</span>imple<span class="s">B</span>log</h3>
  </div>
      <%# 検索フォーム %>
 <div class="nav-content">
  <div class="search-block">
   <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form" ) do |f| %>
    <%= f.text_field :keyword, placeholder:"記事検索", class:"search-input" %>
    <%= f.submit '検索', class:"search-btn" %>
   <% end %>
  </div>
 </div>
</div>

 <div class="header-right">
  <%# ユーザーアイコンなどを設置する %>
  <div class="user-list">
    <%# ログインしてるとマイページ。していなければログイン画面へ %>
   <% if user_signed_in? %>
    <%# if @user.image.present? %>
    <%# <div class="image-block"> %>
     <%#=link_to current_user.image, class:"icon"%>
    <%# else %>
     <%#= link_to image_tag "no-image1.png", class: "blog-img"%>
    <%# </div> %>
    <%# end %>
     <%=link_to current_user.nickname, user_path(current_user.id), method: :get, class:"nickname"%>
   <% else %>
     <%=link_to "NoUser", user_session_path, class:"nickname"%>
   <%end%>
  </div>
    <%# ユーザーアカウント機能 %>
  <div class="sign-in">
    <% if user_signed_in? %>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"log-out" %>
    <% else %>
     <%= link_to "新規登録",new_user_registration_path, class:"new-user"%>
     <%= link_to "ログイン",user_session_path, class:"log-in" %>
    <% end %>
  </div>
 </div>
</div>