  <div class="title1">
   <h1>SimpleBlog2000</h1>
  </div>
<div class="header">

  <%# ユーザーアイコンなどを設置する %>
  <div class="user-list">
  <%# ログインしてるとマイページ。していなければログイン画面へ %>
   <% if user_signed_in? %>
     <%=link_to "icon","#", class:"icon"%>
     <%=link_to current_user.nickname, user_path(current_user.id), method: :get, class:"nickname"%>
     <% else %>
     <%=link_to "No User", user_session_path, class:"nickname"%>
     <%end%>
  </div>

  <div class="sign-in">
    <% if user_signed_in? %>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"log-out" %>
    <% else %>
     <%= link_to "新規登録",new_user_registration_path, class:"new-user"%>
     <%= link_to "ログイン",user_session_path, class:"log-in" %>
    <% end %>
  </div>
</div>