<%# サイドバーコンテンツ %>
 <div class="side-contents">
  <div class="info">
   メニュー
  </div>
  
   <% if user_signed_in? %>
      <div class="block">
       <%= link_to "マイページ", user_path(current_user.id), method: :get, class:"my-menu"  %>
      </div>
       <div class="block">
        <%= link_to "プロフィール",  users_path(current_user.id), method: :get, class:"my-menu"  %>
       </div>
        <div class="block">
         <%= link_to "記事を書く", new_blog_path, class:"new-blog" %>
        </div>
   <% else %>
    <div class="block">
     <%= link_to "新規登録",new_user_registration_path, class:"new-user"%>
    </div>
     <div class="block">
      <%= link_to "ログイン",user_session_path, class:"log-in" %>
     </div>
   <% end %>
    <div class="block">
     <%= link_to "一覧へ戻る", root_path, class:"root-index"%>
   </div>
  
 <div class="nav-content">
  <div class="search-block2">
   <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form" ) do |f| %>
    <%= f.text_field :keyword, placeholder:"記事検索", class:"search-input2" %>
    <%= f.submit '検索', class:"search-btn2" %>
   <% end %>
  </div>
 </div>
</div>
  <%# 下段UI %>
  <div class="info2">
   ユーザー編集
  </div>
   <div class="block">
     <%= link_to "プロフィール編集", edit_user_registration_path(current_user), method: :get, local: true, class:"my-menu2" %>
   </div>
   <div class="block">
     <%#= link_to "パスワード変更", edit_user_password_path(@user.id), method: :get, local: true, class:"my-menu2" %>
   </div>
 </div>