<%# 個人ページ対応サイドバーコンテンツ %>
<div class="side-bar">
 <div class="side-contents">
  <div class="info">
   メニュー
  </div>
  
  <% if user_signed_in? %>
   <div class="side-menu">
      <div class="block">
       <%= link_to "マイページ", user_path(current_user.id), method: :get, class:"my-menu"  %>
      </div>
    <div class="block">
       <%= link_to "記事を書く", new_blog_path, class:"new-blog" %>
    </div>
    <div class="block">
       <%= link_to "チャット", rooms_path(current_user.id), class:"my-menu" %>
    </div>
  <% else %>
     <div class="block">
      <%= link_to "新規登録",new_user_registration_path, class:"new-user"%>
     </div>
     <div class="block">
      <%= link_to "ログイン",user_session_path, class:"log-in" %>
     </div>
  <% end %>
    <div class="block">
         <%= link_to "一覧へ戻る", root_path, class:"root-index"%>
    </div>
   <div class="nav-content">
    <%= render "shared/side_search" %>
   </div>
 </div>

  <%# 下段UI %>
  <%# <自分のブログだけを表示したいが未定&& @blogs.ids(user_id: current_user.id)> %>
    <% if user_signed_in? && current_user.id == @blog.user_id  %>
     <div class="edit-block">
      <%= link_to "編集する", edit_blog_path, class:"edit-btn"%>
      <%= link_to "削除する", blog_path, method: :delete, class:"delete-btn"%>
     </div>
    <% else %>
     <%= render "shared/follow_link"%>
    <% end %> 
 </div>
</div>
