<%# サイドバーコンテンツ %>
<div class="side-bar">
 <div class="side-contents">
  <div class="info">
   メニュー
  </div>
    <% if user_signed_in? %>
      <div class="side-menu">
      <div class="block">
       <%= link_to "マイページ", user_path(current_user.id), method: :get, class:"my-menu"  %>
      </div>
        <div class="block">
         <%= link_to "記事を書く", new_blog_path, class:"new-blog" %>
        </div>
        <div class="block">
         <%= link_to "チャット", new_room_path(current_user.id), class:"my-menu" %>
        </div>
    <% else %>
     <div class="block">
      <%= link_to "新規登録",new_user_registration_path, class:"new-user"%>
     </div>
      <div class="block">
       <%= link_to "ログイン",user_session_path, class:"log-in" %>
      </div>
    <% end %>
     <div class="block">
      <%= link_to "一覧へ戻る", root_path, class:"root-index"%>
    </div>
  <div class="nav-content">
    <%= render "shared/side_search" %>
  </div>
 </div>
  <%# 下段UI %>
  <div class="info2">
   過去投稿記事
  </div>
  <%# <自分のブログだけを表示したいが未定&& @blogs.ids(user_id: current_user.id)> %>
  <% if user_signed_in?  %>
   <% @blogs.each do |blog|%>
    <%= link_to blog_path(blog.id) do %>
    <div class="block">
    <div class="blog-name">
     <%= blog.title%>
     </div>
     </div>
    <% end %>
   <% end %>
   <%end%>
 </div>
</div>