<%= render "shared/header"%>
<%= render "shared/side_bar_edit" %>

<div class="main-content">
 <div class="title">
  誰にメッセージを送りますか？
 </div>
  <div class="blog-content-show">
   <div class="follow-contents">
    <div class="follow-content">
     <%=form_with model: @room, local: true do |f|%>
      <div class='room-field'>
       <div class='room-form-field--left'>
         <label class='room-label' for='chat_room_チャットメンバー'>DMを送るユーザーを選択してください</label>
       </div>
       <div class='room-field--right'>
        <select name="room[user_ids][]">
         <option value="">ユーザーを選択</option>
          <% current_user.following_user.all.where.not(id: current_user.id ).each do |user| %>
           <option value=<%=user.id%>><%= user.nickname %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
       </div>
      </div>
      <div class='room-field'>
       <div class='room-field--right'>
         <%= f.submit value:"決定", class: 'chat-room-form__action-btn'%>
       </div>
      </div>
     <% end %>
    </div>
   </div>
  </div>
</div>