<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script src="https://kit.fontawesome.com/2f8d319b58.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-links-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-links-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>